code {
  background-color: #eee;
    cursor: default;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 10px;
}

.question-text{
    background-color: #d1ecf1;
     padding: 10px;
}

html {
  scroll-behavior: smooth;
}

a {
    color: #17a2b8;
    text-decoration: none;
    background-color: transparent;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.documentation {
  background-color: #eee;
  width: 90%;
  border: 5px solid #999;
  padding: 20px;
  margin: 10px;
}

.tooltip-underline:hover{
    text-decoration: underline;
}